@import url(sweetalert.css);
@import url(bootstrap-icons.css);
*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    scroll-behavior: smooth;
}

:root{
    --yellow: rgb(255, 162, 0);
    --green: rgb(0, 186, 108);
    --white: rgb(255, 255, 255);
    --grey: rgb(243, 243, 243);
    --black: rgb(15, 23, 42);
    --black2: rgb(30, 41, 59);
    --black-gradient: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    --blue-gradient: linear-gradient(rgba(4, 5, 58, 0.424), rgba(2, 0, 55, 0.524));
    --ease-in-out: all 0.5s ease-in-out;
    --box-shadow: 4px 10px 30px -10px rgba(0, 0, 0, 0.191);
}

body {
    position: relative;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

header{
    background: var(--black-gradient), url(../img/hero.jpg); 
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
} 
/* 
header .logo img {
    width: 150px;
    height: auto;
    cursor: pointer;
    margin-top: -20px;
} */

header .logo {
    margin-top: 30px;
}

header .logo a {
    font-size: 40px;
    font-weight: 900;
    color: var(--white);
}

header .logo a>span {
    color: var(--yellow);
}

nav {
    position: relative;
    z-index: 1;
}

nav.scrolled {
    background: var(--white) !important;
    transition: background 0.5s linear;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    opacity: 0.97;
}

header nav.scrolled .logo {
    margin: 15px 0;
}

header nav.scrolled .logo a {
    color: var(--black);
}

nav.scrolled ul {
    margin-top: 15px;
} 

nav.scrolled ul li a{
    color: var(--black);
}

nav ul,
nav ul #menu {
    display: flex;
    list-style: none;
}

nav ul {
    margin-top: 40px;
} 

nav ul #menu {
    margin-right: 28px;
} 

nav ul #menu li{
    margin-left: 20px;
    padding-bottom: 10px;
    transition: all 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

nav ul #menu li:hover {
    border-bottom: 1px solid var(--yellow);
}

nav ul li a{
    color: var(--white);
    font-size: 18px;
    font-weight: 200;
    transition: var(--ease-in-out);
}

nav ul li a:hover {
    color: var(--yellow);
}

nav ul:last-child {
    position: absolute;
    margin-top: -520px;
}

nav ul li span {
    position: absolute;
    background: var(--green);
    color: var(--white);
    width: 10px;
    height: 10px;
    padding: 10px;
    font-size: 12px;
    border-radius: 50px;
    margin-top: -45px;
    margin-left: 40px;
}

nav ul li span:hover {
    cursor: pointer;
}

#basket i {
    color: var(--white);
}

.mobile-menu {
    margin-left: 40px;
    margin-top: 25px;
    display: none;
}

.mobile-menu i {
    font-size: 26px;
    color: var(--white);
}

.mobile-menu i:hover {
    cursor: pointer;
}

.hero-text {
    margin-top: 180px;
}

.hero-text h1{
    color: var(--white);
    font-size: 70px;
    text-transform: capitalize;
}

.hero-text h1>span{
    color: var(--yellow);
}

.hero-text p {
    color: var(--white);
    font-size: 20px;
    margin: 15px 0 30px 0;
}

.btn {
    padding: 10px 20px;
    border-radius: 4px;
}

.hero-btn a:nth-child(2){
    margin-left: 15px;
}

.btn-fill{
    background: var(--yellow);
    color: #000;
}
.btn-outline{
    border: 1px solid var(--yellow);
    color: var(--white);
}
.btn-delete{
    background: rgb(123, 0, 0);
    color: var(--white);
}

/* Scroll up */

/* 
#scrollUp {
    bottom: 23%;
    font-size: 18px;
    right: 3%;
    width: 40px;
    height: 40px;
    background-color: var(--yellow);
    color: var(--black);
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
  }
  
  #scrollUp:hover {
    background-color: var(--white);
    color: var(--black);
    box-shadow: var(--box-shadow);
  } */

/* Scroll up end */


/* Section Styling */

.section-padding {
    padding: 70px 0;
}

.section-header {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.section-header i {
    color: var(--white);
    font-size: 30px;
    margin: 10px auto;
}

.section-header h1 {
    color: var(--white);
    font-size: 30px;
}

.section-header .line {
    width: 60px;
    height: 1px;
    background: var(--yellow);
    margin: 10px auto;
}

.section-header-alt {
    display: flex;
    flex-direction: column;
}

.section-header-alt h1 {
    color: var(--black);
    font-size: 30px;
}

.section-header-alt .line {
    width: 60px;
    height: 1px;
    background: var(--yellow);
    margin: 10px 0;
}

/* Section Styling end */


/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.659);
    z-index: 1;
    display: none;
    padding: 20px;
}

.modal .modal-wrap {
    background: #fff;
    width: 450px;
    max-width: 500px;
    height: auto;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
}

.modal .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal .modal-header i {
    background: var(--grey);
    padding: 5px;
    border-radius: 8px;
    font-size: 20px;
}

.modal .modal-header i:hover {
    cursor: pointer;
}

.modal .modal-body .sub-total {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.modal .modal-body .sub-total span {
    font-weight: 900;
}

.modal .modal-footer {
    border-top: 1px solid var(--grey);
    padding: 20px 0;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.modal .modal-footer a:nth-child(1) {
    color: var(--black);
}
/* Modal end */

/* Orders in modal */

.order-wrap {
    margin-top: 50px;
    max-height: 300px;
    overflow-y: scroll;
}

.order-wrap.empty-cart {
    max-height: auto;
    overflow-y: visible;
    display: flex;
    justify-content: center;
}

.order-wrap.empty-cart div {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.order-wrap.empty-cart div img {
    margin: auto;
    width: 300px;
    height: auto;
}

.order-wrap.empty-cart div p {
    text-align: center;
    margin-top: 10px;
}

.single-order .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single-order:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--grey);
}

.single-order .left .img {
    width: 150px;
    height: 80px;
    overflow: hidden;
    border-radius: 8px;
}

.single-order .left .img>img {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

.single-order .desc {
    margin-top: 5px;
    font-size: 14px;
}

.single-order .center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-order .center .item-btn {
    background: var(--grey);
    padding: 10px;
    border-radius: 4px;
    font-weight: 200;
}

.single-order .center .item-btn:nth-child(1) {
    transform: scaleX(-1);
}

.single-order .center .item-btn:hover {
    cursor: pointer;
}

.single-order .center .input {
    max-width: 20%;
}

.single-order .center input {
    max-width: 100%;
    background: transparent;
    border: none;
    text-align: center;
}

/* Orders in modal end */


/* About section */

.about-section {
    position: relative;
    height: 80vh;
    padding-top: -50px;
}

.about-section .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/banner-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.about-section-main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -150px;
}

.about-section-main .left {
    width: 50%;
    height: 100%;
    padding: 130px;
}

.about-section .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 50px;
}

.about-section .features:hover {
    cursor: pointer;
}

.about-section .single-feature {
    padding: 20px;
    background: var(--white);
    border-radius: 10px;
    width: 150px;
    box-shadow: var(--box-shadow);
    transition: var(--ease-in-out);
}

.about-section .single-feature.onHover:nth-child(1) {
    transform: rotate(-6deg);
}

.about-section .single-feature:nth-child(1),
.about-section .single-feature:nth-child(4) {
    background: rgb(255, 233, 220);
    color: rgb(156, 60, 4);
}

.about-section .single-feature:nth-child(2),
.about-section .single-feature:nth-child(3) {
    background: rgb(255, 247, 243);
    color: rgb(156, 60, 4);
}

.about-section .single-feature:nth-child(2),
.about-section .single-feature:nth-child(4) {
    margin-left: -26px;
}

.about-section .single-feature .icon {
    padding: 20px 0;
}

.about-section .single-feature .icon i {
    font-size: 45px;
}

.about-section-main .right {
    padding: 30px;
    width: 50%;
    height: 100%;
}

.about-section-main .right p {
    font-weight: 200;
    margin: 20px 0;
}

.about-section-main .right a {
    font-weight: 300;
    display: flex;
    align-items: center;
    max-width: fit-content;
}

.about-section-main .right a>i {
    margin-left: 10px;
}

/* About section end */



/* Food card section */

.food-card-section {
    background: transparent;
    padding-bottom: 120px;
    padding-top: 10px;
}

.food-card-section .search {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    align-items: center;
}

.food-card-section .search i {
    position: absolute;
    margin-right: 190px;
}

.food-card-section .search input {
    background: var(--grey);
    height: 35px;
    padding: 0 10px;
    padding-left: 30px;
    color: var(--black);
    font-weight: 200;
    font-size: 14px;
    border: 1px solid rgb(228, 228, 228);
    box-shadow: var(--box-shadow);
    border-radius: 4px;
}

.food-card-section .search input:active,
.food-card-section .search input:focus {
    border: 1px solid rgb(228, 228, 228) !important;
    box-shadow: var(--box-shadow) !important;
}

.food-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 60px;
}

.single-food-card {
    background: var(--white);
    padding: 10px;
    border-radius: 8px;
    max-width: 280px;
    box-shadow: 4px 20px 30px 2px rgba(0, 0, 0, 0.253);
    margin: auto;
}

.food-card-header .image {
    width: 280px;
    height: 190px;
    overflow: hidden;
    border-radius: 8px;
} 

.food-card-header img {
    width: 280px;
    height: auto;
    border-radius: 8px;
    transition: var(--ease-in-out);
}

.food-card-header img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.food-card-header span {
    position: relative;
    background: var(--white);
    padding: 5px 10px;
    border-radius: 4px;
    color: var(--yellow);
    font-weight: 700;
    float: right;
    margin-top: -38px;
    margin-right: 10px;
    z-index: 1;
}

.food-card-body h3 {
    font-size: 25px;
    margin-top: 15px;
    transition: var(--ease-in-out);
}

.food-card-body h3:hover {
    cursor: pointer;
    color: var(--yellow);
}

.food-card-body hr {
    background: rgb(233, 233, 233);
    border: none;
    height: 1px;
    margin: 8px 0;
}

.food-card-body .meta-data p {
    font-size: 14px;
    font-weight: 100;
    background: var(--grey);
    padding: 5px 15px;
    border-radius: 50px;
    margin: 10px 0px 30px 0px;
}

.food-card-footer {
    margin-bottom: 20px;
}

.food-card-footer a {
    font-weight: 500;
    color: var(--yellow);
}

/* Food card section end */

/* CTA Section */

.cta {
    background: var(--blue-gradient), url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-cta .cta-text h2 {
    color: var(--white);
    font-size: 40px;
    margin-bottom: 10px;
}

.main-cta .cta-text p {
    color: var(--white);
}

.main-cta .cta-btn a {
    display: flex;
    align-items: center;
    
}

.main-cta .cta-btn a>i {
    margin-right: 10px;
    
}

/* CTA Section end */

/* Menu section */

.menu {
    background-color: var(--black);
    background-image: url(../img/process-top.png);
    background-size: 240px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.menu-card {
    background: transparent;
    border: 2px solid var(--white);
    padding: 25px;
    border-radius: 8px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.menu-card .card-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-card .card-center .circle {
    width: 10px;
    height: 10px;
    border-radius: 60px;
    background: var(--yellow);
}

.menu-card .card-center .line {
    width: 2px;
    min-height: 80%;
    background: var(--yellow);
}

.menu-card .single-item:not(:last-child) {
    border-bottom: 1px solid var(--white);
    margin-bottom: 40px;
}

.menu-card .single-item .item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-card .single-item .item-top h2 {
    color: var(--white);
    background: var(--black2);
    padding: 5px 20px;
    border-radius: 4px;
}

.menu-card .single-item .item-top .dotted-line {
    border: 1px dotted var(--white);
    width: 70px;
    height: 1px;
    margin: 0 40px;
}

.menu-card .single-item .item-top span {
    color: var(--yellow);
    font-weight: 700;
}

.menu-card .single-item .item-meta p {
    color: var(--white);
    font-weight: 100;
    font-size: 14px;
    font-style: italic;
    margin: 12px 0;
}

/* Menu section end */

/* App section */

.app-section {
    background: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)), url(../img/y-so-serious-white.png);
}

.app-section .app-screen {
    width: 100%;
}

.app-section .app-screen img {
    width: 450px;
    height: auto;
}

.app-section .text-area h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

.app-section .text-area p {
    font-weight: 200;
}

.app-section .download_btns {
    margin-top: 20px;
}

.app-section .download_btns span:hover {
    cursor: pointer;
}

/* App section end */

/* Footer */

.footer {
    background: var(--black2);
    background-image: url(../img/dots-circle.png);
}

.footer-sections {
    display: flex;
    justify-content: space-between;
}

.logo-section h1 {
    color: var(--white);
}

.logo-section i {
    color: var(--yellow);
    margin-top: 5px;
}

.logo-section .socials {
    margin-top: 20px;
    display: flex;
}

.logo-section .socials a,
.logo-section .socials i {
    font-size: 20px;
    margin: auto;
    color: var(--white);
    transition: var(--ease-in-out);
}

.logo-section .socials i:hover {
    color: var(--yellow);
}

.links-section h3,
.contact-section h3 {
    color: var(--white);
    margin-bottom: 15px;
}

.links-section .links {
    margin-left: -40px;
}

.links-section ul li {
    list-style: none;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.links-section ul li a {
    color: var(--grey);
    font-weight: 200;
    margin-left: 10px;
    transition: var(--ease-in-out);
}

.links-section ul li i {
    color: var(--white);
}

.links-section ul li a:hover {
    color: var(--yellow);
}

.contact-section p {
    color: var(--white);
    margin-bottom: 10px;
    font-weight: 200;
}

.credit {
    margin-top: 50px;
}

.credit p {
    color: var(--white);
    font-weight: 200;
    text-align: center;
}

.credit a {
    color: var(--yellow);
}

/* Footer end */

.swal2-popup.swal2-toast {
    margin-top: 40px;
  }

.empty-search {
    display: flex;
}

.no-record {
    margin: auto;
    text-align: center;
    display: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Chat bot area */

.chat-bot-btn {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 50px;
    height: 50px;
    background: var(--black2);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chat-bot-btn i {
    color: var(--white);
    font-size: 25px;
}

.chat-bot-btn span {
    position: absolute;
    background: rgb(203, 35, 35);
    color: var(--white);
    width: 10px;
    height: 10px;
    padding: 10px;
    font-size: 12px;
    border-radius: 50px;
    margin-top: -45px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-bot-frame {
    position: fixed;
    bottom: 14.8%;
    right: 5%;
    width: 300px;
    height: 350px;
    background: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)), url(../img/webb.png);
    box-shadow: var(--box-shadow);
    border: 1px solid rgb(196, 196, 196);
    border-radius: 8px;
    display: none;
    transition: var(--ease-in-out);
}

.chat-bot-frame .frame-header {
    background: var(--black2);
    height: 40px;
    border-radius: 8px 8px 0px 0px;
}

.chat-bot-frame .frame-header h3,
.chat-bot-frame .frame-header i {
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
}

.chat-bot-frame .frame-header h3>i {
    font-size: 12px;
    margin-left: 5px;
}

.chat-bot-frame .frame-header i:nth-child(2) {
    font-size: 23px;
    margin-left: 5px;
}

.chat-bot-frame .frame-body {
    height: 80%;
    overflow-y: scroll;
}

.chat-bot-frame .frame-footer {
    position: relative;
    top: 0;
}

.chat-bot-frame .frame-footer .input-area {
    padding: 5px 15px;
}

.chat-bot-frame .frame-footer .input-area input {
    height: 30px;
    font-size: 14px;
    font-weight: 200;
    background: transparent;
    border: none;
    transition: var(--ease-in-out);
}

.chat-bot-frame .frame-footer .input-area input:focus, 
.chat-bot-frame .frame-footer .input-area input:active {
    outline: none;
    border-bottom: 1px solid var(--black2);
}

.chat-bot-frame .frame-footer .input-area form {
    background: rgb(214, 214, 214);
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
}

.chat-bot-frame .frame-footer .input-area form  .icons{
    margin-right: 10px;
    cursor: pointer;
}

.chat-bot-frame .frame-footer .input-area button {
    background: transparent;
    border: none;
    cursor: pointer;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.chat-bot-frame .frame-footer .input-area button i {
    color: var(--black2);
    font-size: 18px;
}

.single-chat-area {
    display: block;
}

.chat-bubble {
    margin: 25px;
    display: block;
    position: relative;
	max-width: 200px;
	height: auto;
	background: var(--black);
    border-radius: 8px;
}

.sender>.chat-bubble {
    background: rgb(183, 183, 183);
}

.receiver {
    float: right;
}

.chat-time {
    margin-top: -20px;
    padding: 0px 30px;
    float: left;
    font-size: 12px;
    color: rgb(129, 129, 129);
}

.chat-time>.seen {
    color: skyblue;
}

.pull-right {
    float: right;
}

.tri-left.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    right: auto;
	left: -40px;
    top: -8px;
	bottom: auto;
	border: 0px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-left.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    right: auto;
	left: -20px;
    top: 0px;
	bottom: auto;
    border-radius: 8px;
	border: 20px solid;
	border-color: rgb(183, 183, 183) transparent transparent transparent;
}

.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: -40px;
    top: -8px;
	bottom: auto;
	border: 0px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: -20px;
    top: 0px;
	bottom: auto;
    border-radius: 8px;
	border: 20px solid;
	border-color: var(--black) transparent transparent transparent;
}

.chat-text{
    padding: 1em;
	text-align: left;
    line-height: 20px;
    color: var(--white);
    font-weight: 400;
    font-size: 12px;
}

.chat-text ul {
    display: block;
    margin-left: -22px;
    margin-top: 10px;
    list-style: square;
}

.sender .chat-text{
    color: var(--black2);
}

.chat-text p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

/* Chat bot area end */